/* Tabs */
.custom-nav .nav-link {
  background-color: #f8f9fa;
  color: #000000;
}
.custom-nav .nav-link.active {
  background-color: #000000 !important;
  color: #fff !important;
}

/* ChartJs */
.bar-height {
  height: 500px;
}
.pie-height {
  height: 280px;
}

/* Pagination */
.custom-pagination .page-link {
  background-color: #f8f9fa;
  color: #000000;
}
.custom-pagination .page-item.active .page-link {
  background-color: #000000;
  border: #000000;
  color: #ffffff;
}
