/* Tabs */
.custom-nav .nav-link {
  background-color: #f8f9fa;
  color: #000000;
}
.custom-nav .nav-link.active {
  /* background-color: #000000 !important; */
  background-color: rgb(75, 163, 75) !important;
  color: #fff !important;
  font-weight: 700;
}

/* ChartJs */
.bar-height {
  height: 500px;
}
.pie-height {
  height: 280px;
}

/* Pagination */
.custom-pagination .page-link {
  background-color: #f8f9fa;
  color: #000000;
}
.custom-pagination .page-item.active .page-link {
  background-color: #000000;
  border: #000000;
  color: #ffffff;
}

/* Navbar */
.custom-header {
  background: rgb(1, 77, 1);
}
.nav-link.active {
  background-color: rgb(75, 163, 75);
  font-weight: 700;
}

/* Table Headers */
thead tr th {
  background-color: rgb(1, 77, 1) !important;
  color: white !important;
}
